<p id="notice"><%= notice %></p>

<h3><%= @entry.title %></h3>
<h4><%= @entry.date.to_s(:short) %></h4>

<p>
  <b>Author:</b>
  <%= @entry.author %>
</p>

<p>
  <b>Content:</b>
  <%= @entry.content %>
</p>

<p>
  <b>Verse:</b>
  <em><%= @entry.verse_content %></em> (<%= @entry.verse_reference %> <%= @entry.verse_translation %>)
</p>

<%= link_to 'Back', entries_path %> | <%= link_to 'LiveIt', liveit_path %>
