<!DOCTYPE html>
<html>
<head>
  <title>LiveIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/ubf7xnn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="body">
  <header>
    <%= link_to image_tag("liveit.png", width: 300), root_url, class: "logo left" %>
    	<nav class="right">
        <% if current_user %>
          <%# image_tag("http://placehold.it/50x50", class: "right") %>
          <%= image_tag("#{current_user.image_url}", class: "right") %>
          
          <p class="left">
            Signed in as <%= current_user.name %> (via <%= current_user.provider %>)<br />
            <%= link_to "Sign out", signout_path %>
          </p>
        <% else %>
            <%= link_to "Sign In via Twitter", "/auth/twitter", class: "zocial twitter" %><br /> <%= link_to "Sign In via Facebook", "/auth/facebook", class: "zocial facebook" %> 
        <% end %>  
      </nav>
      <div id="divider" class="clear"></div>
  </header>

  <section class="content">
    <% if flash[:notice] %>
      <div id="flash">
        <br />
        <br />
        <div class="notice"><%= flash[:notice] %></div>
      </div>
    <% end %>
  
    <%= yield %>
  
    <div id="divider"></div>
  </section>
  
  <footer>
     &copy; 2012<%= link_to "mitchwd.com", "http://www.mitchwd.com" %> 
    <%= link_to "Home", root_url, class: "nav" %> 
    <%= link_to "Entries", entries_path, class: "nav" %> 
    <%= link_to "Tasks", tasks_path, class: "nav" %> 
  </footer>

</body>
</html>  