<!DOCTYPE html>
<html>
<head>
  <title>LiveIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to image_tag("liveit.png", width: 300), root_url, class: "logo" %>
    	<nav>
        <% if current_user %>
          <%= image_tag("http://www.placehold.it/50x50") %>
          <br />
          Signed in as <%= current_user.name %> (via <%= current_user.provider %>) | 
          <%= link_to "Sign out", signout_path %>
        <% else %>
            <%= link_to "Sign In via Twitter", "/auth/twitter", class: "zocial twitter" %> <%= link_to "Sign In via Facebook", "/auth/facebook", class: "zocial facebook" %> 
        <% end %>  
      </nav>
  </header>

  <div id="divider"></div>

  <section class="content">
    <div id="flash">
      <div class="notice"><%= flash[:notice] %></div>
    </div>
  
    <%= yield %>
  
    <div id="divider"></div>
  </section>
  
  <footer>
     &copy; 2012<%= link_to "mitchwd.com", "http://www.mitchwd.com" %> 
    <%= link_to "Home", root_url, class: "nav" %> 
    <%= link_to "Entries", entries_path, class: "nav" %> 
    <%= link_to "Tasks", tasks_path, class: "nav" %> 
  </footer>

</body>
</html>  