<!DOCTYPE html>
<html>
<head>
  <title>Liveitapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="user_nav">
    <% if current_user %>
      Signed in as <%= current_user.name %> | 
      <%= link_to "Sign out", signout_path %>
    <% else %>
      Sign In with:
      <%= link_to "Facebook", "/auth/facebook"%>
      <%= link_to "Twitter", "/auth/twitter"%>
    <% end %>  
  </div>

  <div id="flash">
    <div class="notice"><%= flash[:notice] %></div>
  </div>
  
  <%= yield %>

</body>
</html>
